<p>You have <%= @messages.size%> messages</p>
<table class="table">
  <thead>
    <th>From</th>
    <th>To</th>
    <th>Body</th>
    <th>Read At</th>
    <th>View</th>
  </thead>
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</table>
